<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link
      rel="shortcut icon"
      type="png"
      href="{%static 'User/icon/favicon.png'%}"
    />
    <title>Login SignUp</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{%static 'User/css/signup.css'%}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- It will redirect to the User Page after submitting the form -->
    <script>
      function login() {
        location.href = "/user/login/";
      }
    </script>
  </head>
  <body>
    <div class="form-box">
      <div class="button-box">
        <div id="btn"></div>
        <button type="button" class="toggle-btn" id="reg" style="color: #fff">
          signup
        </button>
        <button type="button" class="toggle-btn" id="log" onclick="login()">
          login
        </button>
      </div>
      <div class="social-icons">
        <img src="{%static 'User/icon/fb2.png'%}" />
        <img src="{%static 'User/icon/insta2.png'%}" />
        <img src="{%static 'User/icon/tt2.png'%}" />
      </div>

      <!-- Login Form -->
      <form
        id="login"
        class="input-group"
        action="{%url 'signup'%}"
        method="POST"
      >
        {% csrf_token %}
        <div class="inp">
          <img src="{%static 'User/icon/user.png'%}" /><input
            type="text"
            id="email"
            class="input-field"
            name="username"
            placeholder="Username"
            style="width: 88%; border: none"
            required="required"
          />
        </div>
        <div class="inp">
          <img src="{%static 'User/icon/password.png'%}" /><input
            type="email"
            id="email"
            name="email"
            class="input-field"
            placeholder="email"
            style="width: 88%; border: none"
            required="required"
          />
        </div>
        <div class="inp">
          <img src="{%static 'User/icon/password.png'%}" /><input
            type="password"
            id="password"
            name="password"
            class="input-field"
            placeholder="Password"
            style="width: 88%; border: none"
            required="required"
          />
        </div>
        <input type="checkbox" class="check-box" />Remember Password
        <button type="submit" class="submit-btn">signup</button>
      </form>
    </div>
    <script type="text/javascript" src="script.js"></script>
  </body>
</html>
